footer
	.footer-block
		.container
			.row
				.col-md-3.footer.card
					.card_title
						h3 CÔNG TY CỔ PHẦN ĐẦU TƯ ĐỊA ỐC TÂN THỊNH
					.card_body
						ul
							li
								span
									span.mdi.mdi-map-marker
								p 52 Ngô Quyền, Phường 5, Quận 10, Thành phố Hồ Chí Minh
							li
								span
									i.mdi.mdi-phone
								p Hotline 028731013888
							li
								span
									i.fas.fa-envelope
								p Email: diaoccaothinh@gmail.com 
				.col-md-3.footer.card
					.card_title
						h3 GIỚI THIỆU
					.card_body
						ul
							li 
								a(href="#") Tầm nhìn - sứ mệnh
							li 
								a(href="#") Hoạt động doanh nghiệp
							li
								a(href="#") Tin tức
							li
								a(href="#") Tuyển dụng
							li
								a(href="#") Liên hệ
				.col-md-3.footer.card
					.card_title
						h3 DỰ ÁN
					.card_body
						ul
							li
								a(href="#") Dự án triển khai
							li 
								a(href="#") Dự án sắp triển khai

				.col-md-3.footer.card
					.card_title
						h3 Đăng ký nhận bản tin
					.card_body
						p Để được tư vấn những dự án mới nhất và các chính sách ưu đãi của Tân Thịnh
						.subsrcibe
							.subscribefrm
								input(type="text" placeholder='Nhập địa chỉ email')
								em.material-icons send
						
					.bottom-wrapper-news-detail
						p KẾT NỐI VỚI TÂN THỊNH
						.social-network-share
							.icon
								a(href="#")
									em.fab.fa-facebook-f
								a(href="#")
									em.fab.fa-twitter
								a(href="#")
									em.fab.fa-youtube
	.container
		.footer-bottom-wrapper
			.copy-right
				p 2020 © Tân Thịnh. Thiết kế website bởi Cánh Cam 	
			.web-counter
				.text Điều khoản và điều kiện
					p Chính sách bảo mật