header
   .container.flex-space
        .header-wrapper-left
            .nav-brand
                a(href="index.html")
                    img(src="./img/logo.png", alt="")
        .header-wrapper-right
            .wrapper-top.flex-end
                .contact-wrapper
                    em.mdi.mdi-phone
                    span Hotline 027 665 72704
                .mail-wrapper
                //-     a(href="#")
                //-         em.mdi.mdi-email
                .search-wrapper
                    .searchbox
                        input(type="text", placeholder="Tìm kiếm")
                        button
                            em.mdi.mdi-magnify
                .language-wrapper
                    .language-toggle
                        span EN
                        em.lnr.lnr-chevron-down
                    ul.language-list
                        li
                            a(href="#") VN
                .mobile-toggle
                    em.lnr.lnr-menu
            .wrapper-bottom
                ul.nav-menu-primary
                    li.active
                        a(href="index.html") 
                            em.mdi.mdi-home
                    li
                        a(href="about.html") GIỚI THIỆU
                    li
                        a(href="project.html") DỰ ÁN
                    li
                        a(href="news.html") TIN TỨC
                    li
                        a(href="active.html") HOẠT ĐỘNG DOANH NGHIỆP
                    li
                        a(href="recruitment.html") TUYỂN DỤNG
                    li
                        a(href="contact.html") LIÊN HỆ
                    li 
                        a(href="") 
                            em.mdi.mdi-magnify
        .mobile-wrapper