.banner-project
	.card-img
		.img
			width: 100%
			height: 400px
			img 
				width: 100%
				height: 100%
				object-fit: cover

@media (max-width: 576px )
	.banner-contact
		.card-img
			.img
				width: 100%
				height: 300px
				img 
					width: 100%
					height: 100%

@media (max-width: 1024px )
	.banner-contact
		.card-img
			.img
				width: 100%
				height: 300px
				img 
					width: 100%
					height: 100%

.news-project
	.head-title
		padding: 70px 0 35px 0
		h2
			font-size: 48px
		@media screen and ( max-width: 1024px )
			font-size: 30px
			padding: 30px 0 30px 0
		@media screen and ( max-width: 576px )
			h2
				font-size: 30px
		&.line
			padding-left: 90px
			position: relative
			&::before
				content: ''
				width: 71px
				height: 1px
				background: #c80916
				position: absolute
				top: 60%
				transform: translateY(-50%)
				left: 0
				@media screen and ( max-width:1024px )
					top: 50%
				@media screen and ( max-width:576px )
					top: 50%
	.title
		padding-bottom: 50px
		ul 
			list-style: none
			padding: 0
			display: flex
			li 
				a 
					padding-right: 20px
					font-size: 1rem
					font-weight: 600
					&:hover
						color: #0b6227
	.card-body
		position: relative
		z-index: 99
		@media screen and ( max-width: 576px )
			margin-bottom: 30px
		.img 
			width: 100%
			height: 100%
			img 
				width: 100%
				object-fit: cover
		.content
			position: absolute
			z-index: 99
			top: 5%
			pointer-events: none
			ul 
				list-style: none
				li
					@media screen and ( max-width: 576px )
						margin-left: -10px
						margin-right: 10px
					a 
						color: #fff
						font-size: 12px
						&:nth-child(2)
							font-size: 14px
						&:nth-child(1)
							font-size: 24px
							font-weight: 600
							@media screen and ( max-width: 576px )
								font-size: 16px
						&:nth-child(3)
							font-size: 12px
					em
						color: #ffffff
	.new-img
		position: relative
		width: 100%
		@media screen and ( max-width: 1024px )
			margin-top: 30px
		.img
			width: 100%
			height: 100%
			img
				width: 100%
				height: 100%
		.content
			padding: 15px
			ul
				position: absolute
				top: 5%
				list-style: none
				margin: 0
				li
					margin-left: -30px
					margin-right: 10px
					a 
						color: #fff
						&:nth-child(1)
							font-size: 14px
							font-weight: 600
						&:nth-child(2)
							font-size: 12px
	.button
		display: flex
		align-items: center
		justify-content: center
		padding: 40px 0 80px 0
		button
			width: 40px
			height: 40px
			border: 1px solid #c80916
			margin-left: 21px
			background: #ffffff
			color: #c80916
			&:hover
				background: #c80916
				color: #ffffff