section.banner-project
	.container-fuild
		.card-img
			.img
				img(src="./img/project/banner-project.png", alt="")

section.news-project
	.container
		.head-title.line
			h2 Dự án
		.title
			ul 
				li 
					a(href="") Tất cả dự án
					a(href="") Dự án triển khai 
					a(href="") Dự án sắp triển khai 
					a(href="") Video dự án
		.row
			.col-lg-6
				.card-body
					a(href="")
						.img
							img(src="./img/project/project-1.png", alt="")
						.content
							ul 
								li 
									a(href="") DỰ ÁN TRIỂN KHAI 
								li 
									a(href="") Boulevard City II - Phố Vàng Thương Gia - Giá trị Đẵng Cấp
								li 
									a(href="") XEM THÊM
									em.mdi.mdi-arrow-right
			.col-lg-6
				.row
					.col-12.col-md-6.col-lg-6
						a(href="")
							.new-img
								.img
									img(src="./img/project/project-2.png", alt="")
								.content
									ul 
										li 
											a(href="") DỰ ÁN TRIỂN KHAI 
										li 
											a(href="") Diamond City II - Phố Vàng Thương Gia - Giá trị Đẵng Cấp
					.col-12.col-md-6.col-lg-6
						a(href="")
							.new-img
								.img
									img(src="./img/project/project-3.png", alt="")
								.content
									ul 
										li 
											a(href="") DỰ ÁN TRIỂN KHAI 
										li 
											a(href="") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
									
					.col-12.col-md-6.col-lg-6
						a(href="")
							.new-img
								.img 
									img(src="./img/project/project-4.png", alt="")
								.content
									ul 
										li 
											a(href="") DỰ ÁN TRIỂN KHAI 
										li 
											a(href="") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
					.col-12.col-md-6.col-lg-6
						a(href="")
							.new-img
								.img 
									img(src="./img/project/project-5.png", alt="")
								.content
									ul 
										li 
											a(href="") DỰ ÁN TRIỂN KHAI 
										li 
											a(href="") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
			.col-12.col-md-6.col-lg-3
				a(href="")
					.new-img
						.img 
							img(src="./img/project/project-5.png", alt="")
						.content
							ul 
								li 
									a(href="") DỰ ÁN TRIỂN KHAI 
								li 
									a(href="") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
			.col-12.col-md-6.col-lg-3
				a(href="")
					.new-img
						.img 
							img(src="./img/project/project-5.png", alt="")
						.content
							ul 
								li 
									a(href="") DỰ ÁN TRIỂN KHAI 
								li 
									a(href="") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
			.col-12.col-md-6.col-lg-3
				a(href="")
					.new-img
						.img 
							img(src="./img/project/project-5.png", alt="")
						.content
							ul 
								li 
									a(href="") DỰ ÁN TRIỂN KHAI 
								li 
									a(href="") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
			.col-12.col-md-6.col-lg-3
				a(href="")
					.new-img
						.img 
							img(src="./img/project/project-5.png", alt="")
						.content
							ul 
								li 
									a(href="") DỰ ÁN TRIỂN KHAI 
								li 
									a(href="") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
			.col-lg-12
				.button
					button 1
					button 2
					button 3