section.banner-project
	.container-fuild
		.card-img
			.img
				img(src="./img/project/banner-project.png", alt="")

section.news-project
	.container
		.head-title.line
			h2 Dự án
		.title
			ul 
				li 
					a(href="") Tất cả dự án
				li
					a(href="") Dự án triển khai
				li
					a(href="") Dự án sắp triển khai
				li
					a(href="") Video dự án
		.row
			.col-lg-6
				.card-body
					a(href="project_detail.html")
						.img
							img(src="./img/project/project-1.png", alt="")
						.content
							ul 
								li 
									a(href="project_detail.html") DỰ ÁN TRIỂN KHAI 
								li 
									a(href="project_detail.html") Boulevard City II - Phố Vàng Thương Gia - Giá trị Đẵng Cấp
								
			.col-lg-6
				.row
					.col-12.col-md-6.col-lg-6
						a(href="project_detail.html")
							.new-img
								.img
									img(src="./img/project/project-2.png", alt="")
								.content
									ul 
										li 
											a(href="project_detail.html") DỰ ÁN TRIỂN KHAI 
										li 
											a(href="project_detail.html") Diamond City II - Phố Vàng Thương Gia - Giá trị Đẵng Cấp
					.col-12.col-md-6.col-lg-6
						a(href="project_detail.html")
							.new-img
								.img
									img(src="./img/project/project-3.png", alt="")
								.content
									ul 
										li 
											a(href="project_detail.html") DỰ ÁN TRIỂN KHAI 
										li 
											a(href="project_detail.html") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
									
					.col-12.col-md-6.col-lg-6
						a(href="project_detail.html")
							.new-img
								.img 
									img(src="./img/project/project-4.png", alt="")
								.content
									ul 
										li 
											a(href="project_detail.html") DỰ ÁN TRIỂN KHAI 
										li 
											a(href="project_detail.html") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
					.col-12.col-md-6.col-lg-6
						a(href="project_detail.html")
							.new-img
								.img 
									img(src="./img/project/project-5.png", alt="")
								.content
									ul 
										li 
											a(href="project_detail.html") DỰ ÁN TRIỂN KHAI 
										li 
											a(href="project_detail.html") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
			.col-12.col-md-6.col-lg-3
				a(href="project_detail.html")
					.new-img
						.img 
							img(src="./img/project/project-5.png", alt="")
						.content
							ul 
								li 
									a(href="project_detail.html") DỰ ÁN TRIỂN KHAI 
								li 
									a(href="project_detail.html") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
			.col-12.col-md-6.col-lg-3
				a(href="project_detail.html")
					.new-img
						.img 
							img(src="./img/project/project-5.png", alt="")
						.content
							ul 
								li 
									a(href="project_detail.html") DỰ ÁN TRIỂN KHAI 
								li 
									a(href="project_detail.html") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
			.col-12.col-md-6.col-lg-3
				a(href="project_detail.html")
					.new-img
						.img 
							img(src="./img/project/project-5.png", alt="")
						.content
							ul 
								li 
									a(href="project_detail.html") DỰ ÁN TRIỂN KHAI 
								li 
									a(href="project_detail.html") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
			.col-12.col-md-6.col-lg-3
				a(href="project_detail.html")
					.new-img
						.img 
							img(src="./img/project/project-5.png", alt="")
						.content
							ul 
								li 
									a(href="project_detail.html") DỰ ÁN TRIỂN KHAI 
								li 
									a(href="project_detail.html") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
			