section.home-banner
    .container-fuild
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .wrapper
                        a
                            img(src="./img/banner-home.png", alt="")
                    .caption
                        h2.title-caption ĐỊA ỐC TÂN THỊNH
                        .text ĐỐI TÁC TIN CẬY CỦA BẠN
                .swiper-slide
                    .wrapper
                        a
                            img(src="./img/banner-home-2.png", alt="")
                    .caption
                        h2.title-caption ĐỊA ỐC TÂN THỊNH
                        .text NƠI ƯƠM MẦM HẠNH PHÚC
                .swiper-slide
                    .wrapper
                        a
                            img(src="./img/banner-home-3.png", alt="")
                    .caption
                        h2.title-caption ĐỊA ỐC TÂN THỊNH
                        .text MANG ĐẾN GIÁ TRỊ BỀN VỮNG VÀ PHỒN VINH CHO MỌI NHÀ