section.video-active
	.container
		.row
			.col-12.col-md-6.col-lg-4
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/home/active/active-video-1.png", alt="")
						.caption
							.icon
								img(src="./img/play-icon.png", alt="")
							.text Tân thịnh du lịch Xứ sở hoa anh đòa nhật bản
			.col-12.col-md-6.col-lg-4
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/home/active/active-video-1.png", alt="")
						.caption
							.icon
								img(src="./img/play-icon.png", alt="")
							.text Tân thịnh du lịch Xứ sở hoa anh đòa nhật bản
			.col-12.col-md-6.col-lg-4
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/home/active/active-video-1.png", alt="")
						.caption
							.icon
								img(src="./img/play-icon.png", alt="")
							.text Tân thịnh du lịch Xứ sở hoa anh đòa nhật bản
			.col-12.col-md-6.col-lg-4
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/home/active/active-video-1.png", alt="")
						.caption
							.icon
								img(src="./img/play-icon.png", alt="")
							.text Tân thịnh du lịch Xứ sở hoa anh đòa nhật bản
			.col-12.col-md-6.col-lg-4
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/home/active/active-video-1.png", alt="")
						.caption
							.icon
								img(src="./img/play-icon.png", alt="")
							.text Tân thịnh du lịch Xứ sở hoa anh đòa nhật bản
	