//- section.banner-active
//- 	.container-fuild
//- 		.card-img
//- 			.img
//- 				img(src="./img/active/banner-active.png", alt="")

section.video-active
	.container
		//- .head-title.line
		//- 	h2 Hoạt động doanh nghiệp
		//- .title
		//- 	ul 
		//- 		li 
		//- 			a(href="active.html") Sự kiện
		//- 			a(href="video.html") Video
		.row
			.col-12.col-md-6.col-lg-4
				.card_img_video
					a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
						img(src="./img/home/active/active-video-1.png", alt="")
						.video
							em.lnr.lnr-chevron-right-circle
			.col-12.col-md-6.col-lg-4
				.card_img_video
					a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
						img(src="./img/home/active/active-video-1.png", alt="")
						.video
							em.lnr.lnr-chevron-right-circle
			.col-12.col-md-6.col-lg-4
				.card_img_video
					a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
						img(src="./img/home/active/active-video-1.png", alt="")
						.video
							em.lnr.lnr-chevron-right-circle
			.col-12.col-md-6.col-lg-4
				.card_img_video
					a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
						img(src="./img/home/active/active-video-1.png", alt="")
						.video
							em.lnr.lnr-chevron-right-circle
			.col-12.col-md-6.col-lg-4
				.card_img_video
					a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
						img(src="./img/home/active/active-video-1.png", alt="")
						.video
							em.lnr.lnr-chevron-right-circle
			.col-12.col-md-6.col-lg-4
				.card_img_video
					a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
						img(src="./img/home/active/active-video-1.png", alt="")
						.video
							em.lnr.lnr-chevron-right-circle
			.col-lg-12
				.button
					button 1
					button 2
					button 3