section.banner-active
	.container-fuild
		.card-img
			.img
				img(src="./img/active/banner-active.png", alt="")

section.video-active
	.container
		.head-title.line
			h2 Hoạt động doanh nghiệp
		.title
			ul 
				li 
					a(href="") Sự kiện
					a(href="") Video
		.row
			.col-lg-4
				.card_img_video
					a(href="https://www.youtube.com/watch?v=SZoQjPrOmXM" data-fancybox="video")
						img(src="./img/active/active-video/video-1.png", alt="")
						.video 
							a(href="") asd
			.col-lg-4
				.card_img_video
					a(href="https://www.youtube.com/watch?v=SZoQjPrOmXM" data-fancybox="video")
						img(src="./img/active/active-video/video-2.png", alt="")
						.video 
							a(href="") asd
			.col-lg-4
				.card_img_video
					a(href="https://www.youtube.com/watch?v=SZoQjPrOmXM" data-fancybox="video")
						img(src="./img/active/active-video/video-3.png", alt="")
						.video 
							a(href="") asd
			.col-lg-4
				.card_img_video
					a(href="https://www.youtube.com/watch?v=SZoQjPrOmXM" data-fancybox="video")
						img(src="./img/active/active-video/video-4.png", alt="")
						.video 
							a(href="") asd
			.col-lg-4
				.card_img_video
					a(href="https://www.youtube.com/watch?v=SZoQjPrOmXM" data-fancybox="video")
						img(src="./img/active/active-video/video-5.png", alt="")
						.video 
							a(href="") asd
			.col-lg-4
				.card_img_video
					a(href="https://www.youtube.com/watch?v=SZoQjPrOmXM" data-fancybox="video")
						img(src="./img/active/active-video/video-6.png", alt="")
						.video 
							a(href="") asd
			.col-lg-12
				.button
					button 1
					button 2
					button 3