.about-us
	padding: 100px 0
	@media screen and ( max-width: 1024px)
		padding: 50px 0
	.background
		position: relative
		.img 
			position: absolute;
			top: 40px;
			left: -80px;
			pointer-events: none;
	.content
		padding-left: 90px
		font-size: 1rem 
		color: $green
		line-height: 1.3
		font-weight: 400
		line-height: 35px
		@media screen and ( max-width:1024px)
			padding-left: 0
		*
			font-size: 1rem 
			color: $green
			line-height: 1.3
			font-weight: 400
	.block_list
		padding: 60px 0 0 90px
		@media screen and ( max-width: 576px)
			padding-top: 30px
		@media screen and ( max-width: 1024px)
			padding: 30px 0 0 0
		ul 
			list-style: none
			display: flex
			padding: 0
			li 
				margin-right: auto
				position: relative
				&::after 
					content: ''
					position: absolute
					top: 0
					left: 0
					width: 2px
					height: 100%
				
				h3
					color: #c80916
					span
						font-size: 36px

				span 
					font-size: 14px
					text-align: left
					font-weight: 600
			@media screen and ( max-width: 767px)
				display: flex
				flex-wrap: wrap
				flex:  0 0 100%
				max-width: 100%
				li
					flex: 0 0 50%
					max-width: 50%
					margin-bottom: 30px
					display: flex
					flex-direction: column
					justify-content: center
					align-items: center
	.card_img 
		.img
			img 
				width: 100%
				height: 100%
@media screen and ( max-width: 576px )
	.about-us
		.card_img
			padding-top: 30px
@media screen and ( max-width: 1024px )
	.about-us
		.card_img
			padding-top: 30px
				