section.about-us
    .container
        .row
            .col-lg-8
                .background
                    .img 
                        img(src="./img/about/about-shape.png", alt="")
                .head-title.line
                    h2 Về chúng tôi
                .content
                    p Là chuyên gia trong lĩnh vực bất động sản Tân Thịnh hoạt động theo phương châm "Sự an cư lạc nghiệp khách hàng là mục tiêu phấn đấu của chúng tôi". Với hoài bão đem đến những vùng đất mới, đem cuộc sống an cư lạc nghiệp và phồn vinh đến cho mọi người dân. Địa ốc Tân Thịnh tự hào là nhà phát triển bất động sản chuyên nghiệp và tận tâm, gắn lợi nhuận kinh doanh với lợi ích xã hội. 
                .block_list
                    ul
                        li
                            h3
                                span.counter(data-count="10") 0
                                span +
                            span NĂM KINH NGHIỆM
                        li
                            h3
                                span.counter(data-count="600") 0
                                span +
                            span NHÂN SỰ
                        li
                            h3
                                span.counter(data-count="1000") 0
                                span +
                            span DỰ ÁN
                        li
                            h3
                                span.counter(data-count="500") 0
                                span +
                            span KHÁCH HÀNG
            .col-lg-4
                .card_img
                    .img 
                        img(src="./img/home/about-us/about-us.png", alt="")
        