section.project
    .container
        .row
            .col-lg-6
                .head-title.line
                    h2 Dự án
                .card-body
                    a(href="")
                        .img
                            img(src="./img/home/project/project-1.png", alt="")
                        .content
                            ul 
                                li 
                                    a(href="") DỰ ÁN TRIỂN KHAI 
                                li 
                                    a(href="") Boulevard City II - Phố Vàng Thương Gia - Giá trị Đẵng Cấp
                                li 
                                    a(href="") XEM THÊM
                                    em.mdi.mdi-arrow-right
            .col-lg-6
                .title
                    a(href="") Dự án triển khai
                    a(href="") Dự án sắp triển khai
                    a(href="").line Video
                .row
                    .col-lg-6
                        a(href="")
                            .new-img
                                .img
                                    img(src="./img/home/project/project-2.png", alt="")
                                .content
                                    ul 
                                        li 
                                            a(href="") DỰ ÁN TRIỂN KHAI 
                                        li 
                                            a(href="") Diamond City II - Phố Vàng Thương Gia - Giá trị Đẵng Cấp
                    .col-lg-6
                        a(href="")
                            .new-img
                                .img
                                    img(src="./img/home/project/project-video-1.png", alt="")
                                .content
                                    
                    .col-lg-6
                            a(href="")
                            .new-img
                                .img 
                                    img(src="./img/home/project/project-3.png", alt="")
                                .content
                                    ul 
                                        li 
                                            a(href="") DỰ ÁN TRIỂN KHAI 
                                        li 
                                            a(href="") The Sun City - Đà lạt Thu Nhỏ -Giữa Lòng Thành Phố
                    .col-lg-6
                        a(href="")
                            .new-img
                                .img 
                                    img(src="./img/home/project/project-video-2.png", alt="")
                                .content

