.project
	background-image: url('../img/home/project/project.png')
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	padding: 80px 0 
	@media screen and ( max-width: 1024px)
		padding: 50px 0
	.col-lg-3
		.col-12
			margin-bottom: 30px
	.col-lg-8
		.card-body
			.img 
				+img-ratio(450/600)
		.Module 
			width: 100%
		// .ModuleContent
		// 	display: flex
		// 	justify-content: space-between
		// 	align-items: center
		// 	@media screen and ( max-width:  767px)
		// 		flex-direction: column
		// 		align-items: start
		.tab-panels
			display: flex
			align-items: center
			justify-content: center
			ul 
				list-style: none
				padding: 0
				display: flex
				li 
					padding-right: 15px
					padding-top: 35px
					@media screen and ( max-width: 576px )
						padding: 0
					&.active
						a
							color: $green
							text-decoration: underline
					a 
						font-size: 16px
						font-weight: 600
						&:hover
							color: #0b6528
						@media screen and ( max-width: 576px )
							font-size: 12px

	.card_img
		.img 
			img 
				width: 100%

	.title_video.line
		margin-bottom: 40px
		h2 
			font-size: 48px
		@media screen and ( max-width: 1024px )
			font-size: 30px
			// padding: 30px 0 30px 0
		@media screen and ( max-width: 576px )
			// padding: 30px 0 30px 0
			h2 
				font-size: 30px
		&.line
			padding-left: 90px
			position: relative
			&::before
				content: ''
				width: 71px
				height: 1px
				background: #c80916
				position: absolute
				top: 57%
				transform: translateY(-50%)
				left: 0
				@media screen and ( max-width:1024px )
					top: 50%
	.card-body
		position: relative
		z-index: 99
		@media screen and ( max-width: 576px )
			margin-bottom: 30px
		.img 
			width: 100%
			height: 100%
			img 
				width: 100%
				object-fit: cover
		.content
			position: absolute
			z-index: 99
			top: 5%
			ul 
				list-style: none
				li
					@media screen and ( max-width: 576px )
						margin-left: -10px
						margin-right: 10px
					a 
						color: #fff
						font-size: 12px
						&:nth-child(2)
							font-size: 14px
						&:nth-child(1)
							font-size: 24px
							font-weight: 600
							@media screen and ( max-width: 576px )
								font-size: 16px
						&:nth-child(3)
							font-size: 12px
					em
						color: #ffffff
		.view-more
			position: absolute
			bottom: 20px
			left: 5%
			width: 90%
			a 
				color: #ffffff
				font-size: 14px
				font-weight: 600
			em 
				color: #ffffff
				float: right
	.new-img
		position: relative
		width: 100%
		@media screen and ( max-width: 1024px )
			margin-top: 30px
		.img
			width: 100%
			height: 100%
			img
				width: 100%
				height: 100%
		.content
			padding: 15px
			ul
				position: absolute
				top: 5%
				list-style: none
				margin: 0
				li
					margin-left: -30px
					margin-right: 10px
					a 
						color: #fff
						&:nth-child(1)
							font-size: 14px
							font-weight: 600
						&:nth-child(2)
							font-size: 12px
		.view-more
			position: absolute
			bottom: 35px
			left: 8%
			width: 88%
			a 
				color: #ffffff
				font-size: 14px
				font-weight: 600
			em 
				color: #ffffff
				float: right