section.project
    .container
        .row
            .col-lg-6
                .head-title.line
                    h2 Dự án
                .card-body
                    a(href="")
                        .img
                            img(src="./img/home/project/project-1.png", alt="")
                        .content
                            ul 
                                li 
                                    a(href="") DỰ ÁN TRIỂN KHAI 
                                li 
                                    a(href="") Boulevard City II - Phố Vàng Thương Gia - Giá trị Đẵng Cấp
                                //- li 
                                //-     a(href="") XEM THÊM
                                //-     em.mdi.mdi-arrow-right
            .col-lg-3
                .title
                    a(href="javascript:void(0)" data-type='product-tab-1') Dự án triển khai
                    a(href="javascript:void(0)" data-type='product-tab-2') Dự án sắp triển khai
                .row
                    .col-lg-12
                        a(href="")
                            .new-img
                                .img
                                    img(src="./img/home/project/project-2.png", alt="")
                                .content
                                    ul 
                                        li 
                                            a(href="") DỰ ÁN TRIỂN KHAI 
                                            a(href="") Diamond City II - Phố Vàng Thương Gia - Giá trị Đẵng Cấp
                    .col-lg-12
                        a(href="")
                            .new-img
                                .img
                                    img(src="./img/home/project/project-2.png", alt="")
                                .content
                                    ul 
                                        li 
                                            a(href="") DỰ ÁN TRIỂN KHAI 
                                            a(href="") Diamond City II - Phố Vàng Thương Gia - Giá trị Đẵng Cấp
            .col-lg-3
                .title_video.line
                    h2 Video
                .row 
                    .col-lg-12
                        a(href="")
                            .new-img
                                .img
                                    .card_img_video
                                        a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
                                            img(src="./img/home/project/project-video-1.png", alt="")
                                            .video
                                                a(href="")
                                                em.lnr.lnr-chevron-right-circle
                                .content
                    .col-lg-12
                        a(href="")
                            .new-img
                                .img
                                    .card_img_video
                                        a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
                                            img(src="./img/home/project/project-video-2.png", alt="")
                                            .video
                                                a(href="")
                                                em.lnr.lnr-chevron-right-circle
                                .content



