section.active
    .container
        .row
            .col-lg-8
                .head-title.line
                    h2 Hoạt động doanh nghiệp
                    .watch-all
                        a(href="") XEM TẤT CẢ
                        em.mdi.mdi-arrow-right
                .row
                    .col-12.col-md-6.col-lg-6
                        .card_img
                            img(src="./img/home/active/active-1.png", alt="").opacity
                            .content
                                .date
                                    time 04.02.2020
                                p Tân Thịnh trao tặng 5 nhà tình thương tại Trà Vinh
                                a(href="") XEM THÊM
                                em.mdi.mdi-arrow-right
                    .col-12.col-md-6.col-lg-6
                        .card_img
                            img(src="./img/home/active/active-2.png", alt="").opacity
                            .content
                                .date
                                    time 04.02.2020
                                p Tân Thịnh trao tặng 5 nhà tình thương tại Trà Vinh
                                a(href="") XEM THÊM
                                em.mdi.mdi-arrow-right
                    .col-12.col-md-6.col-lg-6
                        .card_img
                            img(src="./img/home/active/active-3.png", alt="").opacity
                            .content
                                .date
                                    time 04.02.2020
                                p Tân Thịnh trao tặng 5 nhà tình thương tại Trà Vinh
                                a(href="") XEM THÊM
                                em.mdi.mdi-arrow-right
                    .col-12.col-md-6.col-lg-6
                        .card_img
                            img(src="./img/home/active/active-4.png", alt="").opacity
                            .content
                                .date
                                    time 04.02.2020
                                p Tân Thịnh trao tặng 5 nhà tình thương tại Trà Vinh
                                a(href="") XEM THÊM
                                em.mdi.mdi-arrow-right
            .col-lg-4
                .head-video
                    .head-title.line
                        h2 Video
                .row 
                    .col-lg-12
                        .card_img_video
                            a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
                                img(src="./img/home/active/active-video-1.png", alt="")
                                .video 
                                    a(href="") 
                    .col-12.col-md-6.col-lg-6
                        .card_img_video
                            a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
                                img(src="./img/home/active/active-video-2.png", alt="")
                                .video 
                                    a(href="") 
                    .col-12.col-md-6.col-lg-6
                        .card_img_video
                            a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
                                img(src="./img/home/active/active-video-2.png", alt="")
                                .video 
                                    a(href="") 