.active
	.col-12 
		margin-bottom: 30px
	.head-title
		display: flex
		justify-content: space-between
		margin-bottom: 40px
		h2
			font-size: 48px
		@media screen and ( max-width: 576px )
			h2
				font-size: 26px
		@media screen and ( max-width: 1024px )
			h2
				font-size: 28px
		&.line
			padding-left: 90px
			position: relative
			&::before
				content: ''
				width: 71px
				height: 1px
				background: #c80916
				position: absolute
				top: 50%
				transform: translateY(-50%)
				left: 0
				@media screen and ( max-width:1024px )
					top: 65%
				@media screen and ( max-width:576px )
					top: 70%
		.Module 
			width: 100%
		.ModuleContent
			display: flex
			justify-content: space-between
			align-items: center
		.watch-all
			float: right
			text-align: right
			color: #979797
			font-size: 12px
			display: flex
			align-items: center
			justify-content: center
	.head-video
		@media screen and ( max-width: 576px )
			padding-top: 30px
		@media screen and ( max-width: 1024px )
			padding-top: 30px
			
	.card_img 
		display: flex
		cursor: pointer
		height: 160px
		.image-wrapper
			a
				display: block
				height: 160px
				width: auto
				min-width: 150px
				max-width: 150px
				img
					width: 100%
					height: 100%
					object-fit: cover
		.content
			padding: 15px 15px 15px 20px
			box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1)
			display: flex
			justify-content: space-between
			align-items: start
			flex-direction: column
			.date 
				time 
					color: #666666
					font-size: 12px
			.title 
				font-size: 1rem
				padding: 0 0
				color: #333333
				font-weight: 600
				&:hover
					color: #c80916
				a
					font-weight: 600
					font-size: 1rem
					line-height: 1.175
					color: #333333
			.view-all
				a
					color: #666666
					font-size: 12px
					&:hover
						color: #c80916
				em 
					float: right
					text-align: right
					color: #666666
	.col-lg-12
		margin-bottom: 30px
		.figure-media
			.figure-image
				.wrapper
					a
						display: block
						height: 0
						overflow: hidden
						padding-top: 190 / 390 * 100%
						position: relative
						img
							position: absolute
							top: 0
							left: 0
							width: 100%
							height: 100%
							object-fit: cover
	.col-lg-6
		.figure-media
			.figure-image
				.wrapper
					a
						display: block
						height: 0
						overflow: hidden
						padding-top: 130 / 180 * 100%
						position: relative
						img
							position: absolute
							top: 0
							left: 0
							width: 100%
							height: 100%
							object-fit: cover