//- section.banner-about
//- 	.container-fuild
//- 		.card-img
//- 			.img
//- 				img(src="./img/about/banner-about.png", alt="")

section.about 
	.container
		.head-menu
			ul 
				li 
					a(href="") Giới thiệu
				li 
					a(href="") Tầm nhìn & Sứ mệnh
				li 
					a(href="") Giá trị cốt lõi
				li 
					a(href="") Giải thưởng
				li 
					a(href="") Tại sao chọn
		.head-title.line
			h2 Giới thiệu
		.row 
			.col-lg-6
				.card_img 
					.img 
						img(src="./img/about/about-1.png", alt="")
			.col-lg-6 
				.content 
					p Là chuyên gia trong lĩnh vực bất động sản Tân Thịnh hoạt động theo phương châm "Sự an cư lạc nghiệp của khách hàng là mục tiêu phấn đấu của chúng tôi". Với hoài bão mang đến những vùng đất mới, đem cuộc sống an cư lạc nghiệp và phồn vinh đến cho người dân. Địa ốc Tân Thịnh tự hào là nhà phát triển bất động sản chuyên nghiệp và tận tâm, gắn lợi nhuận kinh doanh với lợi ích xã hội.
				.block_list
					ul
						li
							h3
								span.counter(data-count="10") 0
								span +
							span NĂM KINH NGHIỆM
						li
							h3
								span.counter(data-count="600") 0
								span +
							span NHÂN SỰ
					ul
						li
							h3
								span.counter(data-count="1000") 0
								span +
							span DỰ ÁN
						li
							h3
								span.counter(data-count="500") 0
								span +
							span KHÁCH HÀNG

section.vision-mission
	.container
		.head-title.line
			h2 Tầm nhìn & sứ mệnh
		.row
			.col-lg-6
				.card_img
					.img 
						img(src="./img/about/about-vision.png", alt="")
				.content
					h4 Tầm nhìn
					p Xây dựng thương hiệu bất động sản uy tín hàng đầu Việt Nam và phát triển thương hiệu ra thị trường quốc tế tương lai
				.card_img
					.img 
						img(src="./img/about/about-mission.png", alt="")
				.content
					h4 Sứ mệnh
					ul
						li 
							em.lnr.lnr-chevron-right
							p Với khách hàng: lấy khách hàng làm trung tâm để tạo ra và cung cấp những sản phẩm chất lượng, đa dạng và dịch vụ tốt nhất.
						li 
							em.lnr.lnr-chevron-right
							p Với đối tác: đề cao tinh thần hợp tác và hỗ trợ để hai bên cũng có lợi 
						li 
							em.lnr.lnr-chevron-right
							p Với nhân viên: tạo môi trường làm việc năng động, sáng tạo và cơ hội phát triển. 
						li 
							em.lnr.lnr-chevron-right
							p Với xã hội: đóng góp tích cực vào các hoạt động xã hội, xây dựng nền tảng phát triển bền vững
section.value
	.container
		.head-title.line
			h2 Giá trị cốt lõi
		.row
			.col-lg-4 
				.card_img 
					.img 
						img(src="./img/about/about-value-1", alt="")
				.content 
					ul 
						li
							strong
								p CHẤT LƯỢNG
						li 
							p Chất lương trên từng sản phẩm
			.col-lg-4 
				.card_img
					.img
						img(src="./img/about/about-value-2", alt="")
				.content
					ul 
						li
							strong
								p UY TÍN
						li 
							p Uy tín tất cả trong giao dịch
			.col-lg-4 
				.card_img 
					.img 
						img(src="./img/about/about-value-3", alt="")
				.content 
					ul 
						li
							strong
								p CHUYÊN NGHIỆP
						li 
							p Chuyên nghiệp trong mọi quy trình

section.prize
	.container
		.head-title.line
			h2 Giải thưởng
		.row 
			.col-lg-12
				.text
					p Trải qua nhiều năm hoạt động, với năng lực tài chính vững mạnh, chiến lượt kinh doanh đúng đắn, Tân Thịnh vinh dự nhận được các nhiều bằng khen, giải thưởng cao quý do Nhà Nước và các tổ tức trao tặng.
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.card_img 
						.img 
							img(src="./img/about/prize-1.png", alt="")
					.caption 
						p Top 100 sàn giao dịch bất động sản tốt nhất năm 2019
				.swiper-slide
					.card_img 
						.img 
							img(src="./img/about/prize-2.png", alt="")
					.caption 
						p Doanh nghiệp mạnh và phát triển bền vững
				.swiper-slide
					.card_img 
						.img 
							img(src="./img/about/prize-3.png", alt="")
					.caption 
						p Doanh nghiệp mạnh và phát triển bền vững
				.swiper-slide
					.card_img 
						.img 
							img(src="./img/about/prize-4.png", alt="")
					.caption 
						p Nhà cung cấp chất lượng 2018

section.choose-tan-thinh
	.container
		.head-title.line
			h2 Tại sao chọn Tân Thịnh
		.background
			.img 
				img(src="./img/about/about-shape.png", alt="")
		.row
			.col-lg-6
				.content
					ul
						li 
							em.lnr.lnr-chevron-right
							p Chúng tôi tâm niệm luôn đặt khách hàng là trung tâm để mang đến những sản phẩm, dịch vụ tốt nhất
						li 
							em.lnr.lnr-chevron-right
							p Tân Thịnh có đội ngũ nhân sự làm việc chuyên nghiệp, giàu kinh nghiệm, tận tâm phục vụ với thái độ thân thiên, nhiệt tình.
						li
							em.lnr.lnr-chevron-right
							p Chúng tôi phát triển mạnh dịch vụ chăm sóc khách hàng với đội ngũ nhân viên trực 24/7, /ẵn sà/g giải quyết mọi vấn đề và nhu cầu mang đến sự hài lòng nhất của khách hàng càng ngày yên tâm, tin tưởng khi mua sản phẩm Tân Thịnh
			.col-lg-6
				.card_img
					.img
						img(src="./img/about/choose-tt.png", alt="")
