extends _layout.pug

block var
	- var title = 'CHI TIẾT TIN TỨC'
	- var bodyClass = 'recruitment-page'

block main
	include ../components/breadcrumb/index.pug
	include ../components/news/news_detail/index.pug