extends _layout.pug

block var
	- var title = 'VIDEO'
	- var bodyClass = 'video-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/head-title/index.pug
	include ../components/active/video/index.pug