section.news-detail
	.container
		.row
			.col-lg-10
				.card-title
					h2 Cảng hàng không quốc tế Long Thành, động lực phát triển kinh tế
					.bottom-wrapper-news-detail
						time 30/6/2020
						.social-network-share
							.icon
								a(href="#")
									em.fab.fa-facebook-f
								a(href="#")
									em.fab.fa-twitter
								a(href="#")
									em.fab.fa-youtube
				.content
					strong
						p Cảng hàng không quốc tế Long Thành nằm ở trung tâm của khu vực Đông Nam Á với các đường bay Đông - Tây, Bắc - Nam, thuận lợi cho việc hành khách chuyển tiếp...
					p Sân bay quốc tế Tân Sơn Nhất hiện là sân bay quốc tế duy nhất phục vụ Vùng đô thị TP. Hồ Chí Minh theo quy hoạch, là vùng kinh tế năng động nhất cả nước với dân số vùng đô thị này dự kiến đạt 20-22 triệu người vào năm 2020, tỷ lệ dân thành thị dự kiến khoảng 77% tổng dân số.
					.img 
						img(src="./img/news-detail/news-detail-1.png", alt="")
					p Trong khi đó số lượng khách quốc tế đến Việt Nam lại tăng nhanh qua từng năm, mức tăng trưởng lượng khách vào khoảng 15-20% trung bình mỗi năm và thị trường hàng không quốc nội đầy tiềm năng (dân số Việt Nam vào năm 2010 là hơn 89 triệu dân theo báo cáo của CIA nhưng chưa đến 20% người dân đi lại bằng đường hàng không). 
					p Ngoài ra, chính phủ Việt Nam nhận thấy rằng, cần phải có một sân bay với quy mô lớn nhằm cạnh tranh kinh tế với các cảng hàng không trung chuyển lớn khác trong khu vực Đông Nam Á nói riêng và Châu Á nói chung. Vì thế, ý tưởng về 1 sân bay mới được ra đời nhằm thúc đẩy kinh tế vùng Nam Bộ và cả nước. 
					p Công suất tối đa của sân bay Tân Sơn Nhất khoảng 25 triệu lượt khách mỗi năm. Nhưng kể từ năm 2010, trong những đợt cao điểm như Tết Nguyên đán hay nghỉ lễ, số lượt chuyến mỗi ngày đã vượt quá khả năng tiếp nhận 400 lượt chuyến mỗi ngày[2]. năm 2015, sân bay này đã phục vụ 26,5 triệu lượt khách/năm, dự báo năm 2016 sẽ đạt mức 30 triệu hành khách/năm. Tốc độ tăng trưởng lượng khách trên 18%-20% mỗi năm.
					p Nhận thấy Việt Nam cần phải có một sân bay quy mô lớn nhằm cạnh tranh với các sân bay lớn khác trên quốc tế và khu vực Thành phố Hồ Chí Minh - Đồng Nai có 1 vị trí quá thuận lợi, chính phủ Việt Nam đã định hướng sân bay Long Thành sẽ là một Cảng trung chuyển hàng không và là thủ phủ hàng không của cả nước cũng như trên quốc tế nhằm mục đích thu hút khách quá cảnh và các chuyến bay trung chuyển tại đây để thu lợi về kinh tế, ngoài ra tại đây sẽ là khu trung tâm dịch vụ hàng không trên quốc tế với nhiều dịch vụ như cung ứng xăng dầu, bảo trì, nâng cấp, sửa chữa máy bay... cho các hãng hàng không trong nước và quốc tế. Do đó khả năng đóng góp phát triển kinh tế của sân bay Long Thành là rất lớn, theo nghiên cứu của hãng tư vấn Hansen Partnership của Úc thì sân bay Long Thành sẽ đóng góp được 3 - 5% GDP cả nước.
				.item_icon
					.social-network-share
						.icon
							a(href="#")
								em.material-icons thumb_up_alt
								| Like
							a(href="#")
								em.fab.fa-facebook-f
								| Share
							a(href="#")
								em.material-icons forum
								| Comment

section.news-silde
	.container
		.news-swiper-wrapper
			.nav-arrow-prev
				img(src="./img/home/brand/pre.png", alt="")
			.nav-arrow-next
				img(src="./img/home/brand/next.png", alt="")
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.card-body
						a(href="")
							.img.shine 
								img(src="./img/home/news/news-1.png", alt="")
							.content
								time 04.02.2020
								p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
								a(href="") XEM THÊM
								em.mdi.mdi-arrow-right
				.swiper-slide
					.card-body
						a(href="")
							.img.shine 
								img(src="./img/home/news/news-2.png", alt="")
							.content
								time 04.02.2020
								p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
								a(href="") XEM THÊM
								em.mdi.mdi-arrow-right
				.swiper-slide
					.card-body
						a(href="")
							.img.shine 
								img(src="./img/home/news/news-3.png", alt="")
							.content
								time 04.02.2020
								p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
								a(href="") XEM THÊM
								em.mdi.mdi-arrow-right