//- section.banner-contact
//-     .container-fuild
//-         .card-img
//-             .img
//-                 img(src="./img/contact/banner-contact.png", alt="")

section.hr-tanthinh 
    .container
        .row
            .col-lg-6.hr
                .card-body
                    .img.shine
                        img(src="./img/contact/hr.png", alt="")
            .col-lg-6.hr
                .content
                    p Trong ngồi nhà Tân Thịnh, văn hóa doanh nghiệp được xác lập dựa trên sức mạnh tập thể, từ đó làm cơ sở để phát huy tốt nhất những đóng góp quý báu, sáng tạo, đầy tận tâm của tất cả mọi người vì lợi ích chung của doanh nghiệp. Công ty luôn tạo ra môi trường làm việc thân thiện, năng động, khuyên khích và trân trọng những ý kiến đóng góp cũng như sáng tạo của nhân viên. Đến với Tân Thịnh, mỗi cá nhân đều có cơ hội giao lưu học hỏi, tạo nền tảng kiến thức vững vàng giúp bạn khẳng định được bản thân và đạt được mục tiêu nghề nghiệp
                    p Định hướng phát triển trở thành một trong những công ty hàng đầu trong lĩnh vực đầu tư , kinh doanh bất động sản, Tân Thịnh luôn chào đón những ứng viên có năng lực và tinh thần trách nhiệm dể cùng chúng tôi viết tiếp những trang sử thành công. Gia Nhập "Đại gia đình"

section.form-hr
    .container
        .row
            .col-lg-12
                .card-body
                    table.table.table-striped
                        thead
                            tr
                                th(scope='col') STT
                                |
                                th(scope='col') Vị trí tuyển dụng 
                                |
                                th(scope='col') Số lượng
                                |
                                th(scope='col') Khu vực
                                |
                                th(scope='col') Thời hạn
                            |
                        
                        tbody
                            tr
                                td 1
                                |
                                td 
                                    a(href="recruitment_detail.html") Nhân viên kỹ thuật dịch vụ
                                |
                                td 01
                                |
                                td TP.HCM
                                |
                                td 30/03/2020
                            |
                            tr
                                td 2
                                |
                                td 
                                    a(href="recruitment_detail.html") Nhân viên thu mua
                                |
                                td 02
                                |
                                td TP.HCM
                                |
                                td 30/03/2020
                            |
                            tr
                                td 3
                                |
                                td 
                                    a(href="recruitment_detail.html") Trưởng phòng marketing
                                |
                                td 07
                                |
                                td TP.HCM
                                |
                                td 30/03/2020
                            |
                            tr
                                td 4
                                |
                                td 
                                    a(href="recruitment_detail.html") Kế toán viên
                                |
                                td 01
                                |
                                td TP.HCM
                                |
                                td 30/03/2020
                            |
                            tr
                                td 5
                                |
                                td 
                                    a(href="recruitment_detail.html") Lập trình viên
                                |
                                td 05
                                |
                                td TP.HCM
                                |
                                td 30/03/2020
                            |
                            tr
                                td 6
                                |
                                td 
                                    a(href="recruitment_detail.html") Hành chính văn phòng
                                |
                                td 10
                                |
                                td TP.HCM
                                |
                                td 30/03/2020
                            |
                            tr
                                td 7
                                |
                                td 
                                    a(href="recruitment_detail.html") Trưởng phòng kinh doanh
                                |
                                td 01
                                |
                                td TP.HCM
                                |
                                td 30/03/2020
                            |
                            tr
                                td 8
                                |
                                td 
                                    a(href="recruitment_detail.html") Nhân viên kỹ thuật dịch vụ
                                |
                                td 01
                                |
                                td TP.HCM
                                |
                                td 30/03/2020
                            |
                            tr
                                td 9
                                |
                                td 
                                    a(href="recruitment_detail.html") Nhân viên thu mua
                                |
                                td 02
                                |
                                td TP.HCM
                                |
                                td 30/03/2020
                            |
                            tr
                                td 10
                                |
                                td 
                                    a(href="recruitment_detail.html") Trưởng phòng marketing
                                |
                                td 02
                                |
                                td TP.HCM
                                |
                                td 30/03/2020


