section.news-active 
	.container 
		.row 
			.col-lg-5
				.card_img
					.img.shine
						img(src="./img/active/active-1.png", alt="")
			.col-lg-7
				.content
					ul
						li
							.date
								time 04.02.2020
						li 
							h4 Tân Thịnh tài trợ 400 Bệnh Nhân Khó Khăn Được Mổ Mắt Miễn Phí
						li 
							p Nhiều bệnh nhân nghèo, ở các huyện vùng sâu, vùng xa đã được thăm khám, mổ mắt và nhận nhiều quà thiết thự
							p Chương trình "Mổ Mắt Miễn Phí đen lại ánh sáng cho 400 bệnh nhân nghèo" do công ty Hứng Phát phối hợp với thương hiệu Áo dài ABC, Hội Bảo trợ bệnh nhân nghèo TP HCM, Nghệ sĩ nhân dân Kim
						li 
							a(href="") XEM THÊM
							em.mdi.mdi-arrow-right
			.col-12.col-md-6.col-lg-4
				.card_img_active
					img(src="./img/active/active-2.png", alt="").opacity
					.caption_active
						.date
							time 04.02.2020
						p Tân Thịnh trao tặng 5 nhà tình thương tại Trà Vinh
						a(href="") XEM THÊM
						em.mdi.mdi-arrow-right
			.col-12.col-md-6.col-lg-4
				.card_img_active
					img(src="./img/active/active-3.png", alt="").opacity
					.caption_active
						.date
							time 04.02.2020
						p Tân Thịnh trao tặng 5 nhà tình thương tại Trà Vinh
						a(href="") XEM THÊM
						em.mdi.mdi-arrow-right
			.col-12.col-md-6.col-lg-4
				.card_img_active
					img(src="./img/active/active-4.png", alt="").opacity
					.caption_active
						.date
							time 04.02.2020
						p Tân Thịnh trao tặng 5 nhà tình thương tại Trà Vinh
						a(href="") XEM THÊM
						em.mdi.mdi-arrow-right
			.col-12.col-md-6.col-lg-4
				.card_img_active
					img(src="./img/active/active-5.png", alt="").opacity
					.caption_active
						.date
							time 04.02.2020
						p Tân Thịnh trao tặng 5 nhà tình thương tại Trà Vinh
						a(href="") XEM THÊM
						em.mdi.mdi-arrow-right
			.col-12.col-md-6.col-lg-4
				.card_img_active
					img(src="./img/active/active-6.png", alt="").opacity
					.caption_active
						.date
							time 04.02.2020
						p Tân Thịnh trao tặng 5 nhà tình thương tại Trà Vinh
						a(href="") XEM THÊM
						em.mdi.mdi-arrow-right
			.col-12.col-md-6.col-lg-4
				.card_img_active
					img(src="./img/active/active-7.png", alt="").opacity
					.caption_active
						.date
							time 04.02.2020
						p Tân Thịnh trao tặng 5 nhà tình thương tại Trà Vinh
						a(href="") XEM THÊM
						em.mdi.mdi-arrow-right
