section.home-news
    .container
        .head-title.line
            h2 Tin tức
        .news-swiper-wrapper
            .nav-arrow-prev
                img(src="./img/home/brand/pre.png", alt="")
            .nav-arrow-next
                img(src="./img/home/brand/next.png", alt="")
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .card-body
                        a(href="")
                            .img.shine 
                                img(src="./img/home/news/news-1.png", alt="")
                            .content
                                time 04.02.2020
                                p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
                                a(href="") XEM THÊM
                                em.mdi.mdi-arrow-right
                .swiper-slide
                    .card-body
                        a(href="")
                            .img.shine 
                                img(src="./img/home/news/news-2.png", alt="")
                            .content
                                time 04.02.2020
                                p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
                                a(href="") XEM THÊM
                                em.mdi.mdi-arrow-right
                .swiper-slide
                    .card-body
                        a(href="")
                            .img.shine 
                                img(src="./img/home/news/news-3.png", alt="")
                            .content
                                time 04.02.2020
                                p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
                                a(href="") XEM THÊM
                                em.mdi.mdi-arrow-right
        //- .row
        //-     .swiper-container
        //-         .swiper-wrapper
        //-             .swiper-slide
        //-                 figure
        //-                     .img 
        //-                         img(src="./img/home/news/news-1.png", alt="")
        //-                     figcaption
        //-                         .date 
        //-                             time 04.02.2020
        //-                         .content
        //-                             p Xem xét đầu tư Dự án Long Thành trong tháng 3
        //-                             a(href="") XEM THÊM
                
        //-             .swiper-slide
        //-                 figure
        //-                     .img 
        //-                         img(src="./img/home/news/news-2.png", alt="")
        //-                     figcaption
        //-                         .date 
        //-                             time 04.02.2020
        //-                         .content
        //-                             p Phó Thủ Tướng đồng ý Triển khai Cao Tốc Biên Hòa - Vũng Tàu
        //-                             a(href="") XEM THÊM
            
        //-             .swiper-slide
        //-                 figure
        //-                     .img 
        //-                         img(src="./img/home/news/news-3.png", alt="")
        //-                     figcaption
        //-                         .date 
        //-                             time 04.02.2020
        //-                         .content
        //-                             p Bà Rịa Vũng Tàu Lên Kế Hoạch Sớm Khởi Công 34 Dự Án Trọng Điểm
        //-                             a(href="") XEM THÊM
                    
                    

                        