section.banner-news
	.container-fuild
		.card-img
			.img
				img(src="./img/news/banner-news.png", alt="")

section.news
	.container
		.head-title.line
			h2 Tin tức
		.title
			ul 
				li 
					a(href="") Tin thị trường
					a(href="") Tin phong thủy
		.row 
			.col-12.col-md-6.col-lg-4
				.card-body
					a(href="")
						.img.shine 
							img(src="./img/home/news/news-1.png", alt="")
						.content
							time 04.02.2020
							p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
							a(href="") XEM THÊM
							em.mdi.mdi-arrow-right
			.col-12.col-md-6.col-lg-4
				.card-body
					a(href="")
						.img.shine 
							img(src="./img/home/news/news-2.png", alt="")
						.content
							time 04.02.2020
							p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
							a(href="") XEM THÊM
							em.mdi.mdi-arrow-right
			.col-12.col-md-6.col-lg-4
				.card-body
					a(href="")
						.img.shine 
							img(src="./img/home/news/news-3.png", alt="")
						.content
							time 04.02.2020
							p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
							a(href="") XEM THÊM
							em.mdi.mdi-arrow-right
			.col-12.col-md-6.col-lg-4
				.card-body
					a(href="")
						.img.shine 
							img(src="./img/home/news/news-3.png", alt="")
						.content
							time 04.02.2020
							p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
							a(href="") XEM THÊM
							em.mdi.mdi-arrow-right
			.col-12.col-md-6.col-lg-4
				.card-body
					a(href="")
						.img.shine 
							img(src="./img/news/news-4.png", alt="")
						.content
							time 04.02.2020
							p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
							a(href="") XEM THÊM
							em.mdi.mdi-arrow-right
			.col-12.col-md-6.col-lg-4
				.card-body
					a(href="")
						.img.shine 
							img(src="./img/news/news-5.png", alt="")
						.content
							time 04.02.2020
							p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
							a(href="") XEM THÊM
							em.mdi.mdi-arrow-right
			.col-lg-12
				.button
					button 1
					button 2
					button 3