section.hr-detail
	.container
		.row
			.col-lg-9
				.card_title
					h1 Chuyên quản lí dự án cao tầng
					.bottom-wrapper-news-detail
						time 30/6/2020
						.social-network-share
							.icon
								a(href="#")
									em.fab.fa-facebook-f
								a(href="#")
									em.fab.fa-twitter

				.card-body
					table.table.table-striped
						tbody
							tr
								th(scope='row') Khu vực
								|
								td :Quận 10, TP.HCM
							|
							tr
								th(scope='row') Giới tính
								|
								td :Nam/Nữ
							|
							tr
								th(scope='row') Độ tuổi
								|
								td :Từ 22 tuổi trở lên
							|
							tr
								th(scope='row') Kinh nghiệm
								|
								td :5 năm
							|
							tr
								th(scope='row') Bằng cấp
								|
								td :Đại học chuyên ngành XDDD
							|
							tr
								th(scope='row') Mức lương
								|
								td :15.000.000 - 20.000.000 VNĐ
							|
							tr
								th(scope='row') Phúc lợi
								|
								td :Lương tháng
							|
							tr
								th(scope='row') Độ tuổi:
								|
								td Dưới 35 
							|
							tr
								th(scope='row') Thử việc:
								|
								td 1-2 tháng(tùy theo năng lực)
				
				//- MÔ TẢ CÔNG VIỆC
				.hr-detail__content
					em.material-icons edit
					h3 Mô tả công việc
				.text
					ul
						li 
							em.lnr.lnr-chevron-right
							p Lương 15-20 triệu
						li 
							em.lnr.lnr-chevron-right
							p Tăng lương định kỳ và đột xuất hàng năm
						li 
							em.lnr.lnr-chevron-right
							p Thưởng theo hiệu quả kinh doanh nhận hoa hồng theo quý
						li 
							em.lnr.lnr-chevron-right
							p Lương tháng 13 + thưởng theo năng lực 
						li 
							em.lnr.lnr-chevron-right
							p Được tham gia đầy đủ các chế độ BHXH, BHYT, BHTN,...
						li 
							em.lnr.lnr-chevron-right
							p Du lịch trong và ngoài nước 
						li 
							em.lnr.lnr-chevron-right
							p Tham gia các chương trình hội thao, teambuilding... 
						li 
							em.lnr.lnr-chevron-right
							p Được đào tạo nâng cao các kỹ năng 
						li 
							em.lnr.lnr-chevron-right
							p Nhiều cơ hội thăng tiến

				//- QUYỀN LỢI
				.hr-detail__content
					em.material-icons emoji_emotions
					h3 QUYỀN LỢI
				.text
					ul
						li 
							em.lnr.lnr-chevron-right
							p Lương 15-20 triệu
						li 
							em.lnr.lnr-chevron-right
							p Tăng lương định kỳ và đột xuất hàng năm
						li 
							em.lnr.lnr-chevron-right
							p Thưởng theo hiệu quả kinh doanh nhận hoa hồng theo quý
						li 
							em.lnr.lnr-chevron-right
							p Lương tháng 13 + thưởng theo năng lực 
						li 
							em.lnr.lnr-chevron-right
							p Được tham gia đầy đủ các chế độ BHXH, BHYT, BHTN,...
						li 
							em.lnr.lnr-chevron-right
							p Du lịch trong và ngoài nước 
						li 
							em.lnr.lnr-chevron-right
							p Tham gia các chương trình hội thao, teambuilding... 
						li 
							em.lnr.lnr-chevron-right
							p Được đào tạo nâng cao các kỹ năng 
						li 
							em.lnr.lnr-chevron-right
							p Nhiều cơ hội thăng tiến
				//- YÊU CẦU
				.hr-detail__content
					em.material-icons check_box
					h3 YÊU CẦU
				.text
					ul
						li 
							em.lnr.lnr-chevron-right
							p Tốt nghiệp đại học chuyên ngành XDDD
						li 
							em.lnr.lnr-chevron-right
							p Kinh nghiệp 5 năm
						li 
							em.lnr.lnr-chevron-right
							p Thành thạo vi tính văn phòng, các phần mềm chuyên ngành
				//- YÊU CẦU HỒ SƠ
				.hr-detail__content
					em.material-icons insert_drive_file
					h3 YÊU CẦU HỒ SƠ
				.text
					ul
						li 
							em.lnr.lnr-chevron-right
							p CV xin việc
						li 
							em.lnr.lnr-chevron-right
							p Bằng cấp có liên quan

			.col-lg-3 
				.right-hr-detail
					.apply-form
						.btn.button-apply
							a(href="") Ứng tuyển ngay
						.btn.button-download
							a(href="") Tải form ứng tuyển

				.right-recruitment-detail-form-contact
					.card-title
						h2 THÔNG TIN LIÊN HỆ
					.contact
						ul
							li
								span
									em.mdi.mdi-map-marker
								p 52 Ngô Quyền, Phường 5, Quận 10, Thành phố Hồ Chí Minh
							li
								span
									em.mdi.mdi-phone
								p 028731013888
							li
								span
									em.fas.fa-envelope
								p diaoccaothinh@gmail.com

				.right-hr-detail
					.card-title 
						h2 VỊ TRÍ KHÁC
					.content
						a(href="") Giám đốc sàn giao dịch BĐS
						time 30.06.2020
					.content
						a(href="") Chuyên viên kinh doanh
						time 30.06.2020
					.content
						a(href="") Trưởng phòng kinh doanh
						time 30.06.2020
					.content
						a(href="") Trưởng phòng CNTT
						time 30.06.2020