.hr-detail
	padding: 60px 0
	.table-striped-detail-wrapper
		padding-bottom: 50px
		@media screen and ( max-width: 1024px)
			padding-bottom: 30px

	.head-title
		margin-left: 0
		h2 
			font-size: 24px
			background: #f5f5f5
		time 
			font-size: 12px
			color: #adadad
	.social-network-share
		display: flex
		.icon
			display: flex
			a
				display: flex
				justify-content: center
				align-items: center
				width: 35px
				height: 20px
				margin-right: 5px
				&:first-child
					background: #3b5998
				&:nth-child(2)
					background: #00abec
				em
					font-size: 11px
					height: 11px
					line-height: 11px
					color: #ffffff
					&::before
						height: 11px
						line-height: 11px
	.bottom-wrapper-news-detail
		border-bottom: 1px solid #f5f5f5
		display: flex 
		justify-content: space-between
		align-items: center
		padding-bottom: 10px
		margin-top: 5px

	.card-body
		// padding: 43px 0 0 0
		overflow-x: auto
		table
			width: 100%
			font-size: 16px
			background: #f5f5f5
			white-space: nowrap
			tbody
				tr 
					width: 100%
					height: 50px
					td 
						padding-left: 20px
					th 
						padding-left: 30px
	&__content
		padding: 40px 0 0 0
		display: flex
		position: relative
		&:before
			// content: ''
			position: absolute
			pointer-events: none
			left: 0
			top: 40px
			z-index: 9
			transition: .3s all ease-in-out
			font-family: "Linearicons-Free"
			content: '\e802'
			color: #c80916
		em 
			color: #c80916
		h3 
			color: #c80916
			padding-left: 40px
	.text
		ul
			padding: 0
			list-style: none
			li
				display: flex
				padding: 10px 0 0 20px
				position: relative
				&:before
					// content: ''
					position: absolute
					pointer-events: none
					left: 0
					top: 10px
					z-index: 9
					transition: .3s all ease-in-out
					font-family: "Linearicons-Free"
					content: '\e876'
				em 
					font-size: 14px
				p 
					font-size: 16px
					padding-left: 15px

	.right-hr-detail
		padding-bottom: 40px
		@media screen and ( max-width:576px)
			padding: 30px 0 0 0
		// .head-title
		// 	width: 100%
		// 	height: 60px
		// 	h2
		// 		font-size: 20px 
		// 		color: #333333
		// 		font-weight: 700
		// 		padding: 20px
		// 		text-align: center
		.content
			padding: 1.25rem
			background: #ffffff
			&:hover
				cursor: pointer
				background: #c80916
				time,a 
					color: #ffffff
			time 
				font-size: 12px
				color: #adadad
			a 
				text-decoration: none
				color: #333333
				font-size: 16px
				display: block
		.contact
			padding: 1.25rem
			background: #ffffff
			box-shadow: 5px 10px 10px #f5f5f5
			ul 
				list-style: none
				padding: 0
				li 
					display: flex
					span 
						em 
							color: #c80916
					p 
						font-size: 16px 
						padding-left: 5px

.recruitment-display
	.right-recruitment-detail-form-contact
		display: none
	
.news-detail-page
	.right-recruitment-detail-form-contact
		display: block

.right-hr-detail,.right-recruitment-detail-form-contact
	width: 100%
	.head-title
		margin-bottom: 0
		background: #f9f9f9
		margin-left: 0
		h2
			font-size: 24px 
			padding: 5px 0
			text-align: center
			&::before
				display: none

.right-recruitment-detail-form-contact
	padding-bottom: 40px
	@media screen and ( max-width:576px)
		padding: 30px 0 0 0
	.card-title
		width: 100%
		height: 60px
		h2
			font-size: 20px 
			color: #333333
			font-weight: 700
			padding: 20px
			text-align: center
	.content
		padding: 1.25rem
		background: #ffffff
		&:hover
			cursor: pointer
			background: #c80916
			time,a 
				color: #ffffff
		time 
			font-size: 12px
			color: #adadad
		a 
			text-decoration: none
			color: #333333
			font-size: 16px
			display: block
	.contact
		padding: 1.25rem
		background: #ffffff
		box-shadow: 5px 10px 10px #f5f5f5
		ul 
			list-style: none
			padding: 0
			li 
				display: flex
				padding-top: 1.25rem
				span 
					em 
						color: #c80916
				p 
					font-size: 16px 
					padding-left: 5px
.button-wrapper-recruitment
	width: 100%
.apply-form
	@media screen and(max-width:1025px)
		margin: 0 !important
		padding: 30px 0 0 0
	@media screen and(max-width:767px)
		position: static
		display: block
	@media screen and(max-width:576px)
		padding: 30px 60px  0 60px
	.btn.button-apply
		width: 100%
		height: 40px
		display: flex
		align-items: center
		justify-content: center
		border: 1px solid #c80916
		margin-bottom: 10px
		a 
			color: #c80916
		&:hover
			background: #c80916
			cursor: pointer
			a 
				color: #ffffff
	.btn.button-download
		width: 100%
		height: 40px
		display: flex
		align-items: center
		justify-content: center
		border: 1px solid #c80916
		a 
			color: #c80916
		&:hover
			background: #c80916
			cursor: pointer
			a 
				color: #ffffff
//Declare some global css
.apply-frm
	margin: 0
	input[type="file"]
		left: 0
	>div
		width: 100%
	#ctl00_phMain_jobApply_pnlNewComment
		position: relative
		display: flex
		flex-wrap: wrap
		>.form-group
			width: 100%
		.col-left,.col-right
			flex: 0 0 100%
			max-width: 100%
			display: flex
			flex-wrap: wrap
			>.form-group
				margin-bottom: 10px
			@media (min-width: 576px)
				margin: 0 -10px
				>.form-group
					padding: 0 10px
			
	.col-left
		>.form-group
			flex: 0 0 100%
			max-width: 100%
			@media (min-width: 576px)
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4)
					flex: 0 0 50%
					max-width: 50%
	.col-right
		>.form-group
			flex: 0 0 100%
			max-width: 100%

	h4
		font-size: 16px
		font-weight: 600
		color: #034da2
		text-transform: uppercase
		margin-bottom: 20px
		@media (min-width: 992px)
			width: 100%
	.fa-exclamation-triangle
		top: 50%
		transform: translateY(-50%)
		right: 15px
		color: red
	.label
		font-size: 14px
		font-weight: 400
		color: #999999
		margin-bottom: 4px
		.required
			color: red
	input[type="text"], input[type="password"], textarea
		width: 100%
		border: 1px solid #e5e5e5
		color: lighten(black, 20%)
		font-size: 13px
		padding: 7px 15px
		font-family: 'Bai Jamjuree',sans-serif
		&:focus
			border-color: #034da2
	input[type="text"],input[type="password"]
		height: 50px
	textarea
		height: 200px
	.RadAsyncUpload
		.ruDropZone
			display: none
		.ruFileWrap
			position: relative
			display: block
			height: 50px
		.ruFileInput, .ruBrowse
			height: 50px
			width: 120px
			height: 50px
			background: #e5e5e5
			text-transform: uppercase
			font-size: 15px
			display: flex
			justify-content: center
			align-items: center
			border: 0
		.ruFileInput
			position: absolute
			top: 0
			opacity: 0
	.frm-btn
		margin-top: 20px
		text-align: left
		input[type="submit"]
			height: 40px
			width: 100%
			max-width: 180px
			display: inline-flex
			justify-content: center
			align-items: center
			border-radius: 0
			border: 0
			background: #b96e2b
			color: #fff
			text-transform: uppercase
.form-apply
	height: 740px!important
	display: none
	margin-top: 40px
	padding: 0
	&.active
		display: block
	@media (min-width: 623px)
		height: 420px!important
	iframe
		border: 0
		background: white
		width: 100%
		height: 100%
