section.menu
	.container
		.head-menu
			ul 
				li 
					a(href="") Tổng quan dự án 
				li 
					a(href="") Vị trí 
				li 
					a(href="") Tiện ích 
				li 
					a(href="") Tin tức liên quan

section.project-news
	.container
		.head-title
			h2 THE SUN CITY - ĐÀ LẠT THU NHỎ GIỮA LÒNG THÀNH PHỐ
		.row 
			.col-lg-6
				//- .background
				//- 	.img 
				//- 		img(src="./img/project-detail/bg-suncityRectangle 640.png", alt="")
				.card_img
					.img 
						img(src="./img/project-detail/project-news-1.png", alt="")
			.col-lg-6 
				.title
					h3 Tổng quan dự án 
				.content 
					p Là chuyên gia trong lĩnh vực bất động sản Tân Thịnh hoạt động theo phương châm "Sự an cư lạc nghiệp khách hàng là mục tiêu phấn đấu của chúng tôi". Với hoài bão đem đến những vùng đất mới, đem cuộc sống an cư lạc nghiệp và phồn vinh đến cho mọi người dân. Địa ốc Tân Thịnh tự hào là nhà phát triển bất động sản chuyên nghiệp và tận tâm, gắn lợi nhuận kinh doanh với lợi ích xã hội.
					p Định hướng phát triển trở thành một trong những công ty hàng đầu trong lĩnh vực đầu tư , kinh doanh bất động sản, Tân Thịnh luôn chào đón những ứng viên có năng lực và tinh thần trách nhiệm dể cùng chúng tôi viết tiếp những trang sử thành công. Gia Nhập "Đại gia đình"
			
			.col-lg-6 
				.content-2 
					p Là chuyên gia trong lĩnh vực bất động sản Tân Thịnh hoạt động theo phương châm "Sự an cư lạc nghiệp khách hàng là mục tiêu phấn đấu của chúng tôi". Với hoài bão đem đến những vùng đất mới, đem cuộc sống an cư lạc nghiệp và phồn vinh đến cho mọi người dân. Địa ốc Tân Thịnh tự hào là nhà phát triển bất động sản chuyên nghiệp và tận tâm, gắn lợi nhuận kinh doanh với lợi ích xã hội.
			.col-lg-6
				.card_img
					.img 
						img(src="./img/project-detail/project-news-2.png", alt="")


section.location-project
	.container 
		.title 
			h3 Vị trí
		.caption 
			p  Định hướng phát triển trở thành một trong những công ty hàng đầu trong lĩnh vực đầu tư , kinh doanh bất động sản, Tân Thịnh luôn chào đón những ứng viên có năng lực và tinh thần trách nhiệm dể cùng chúng tôi viết tiếp những trang sử thành công. Gia Nhập "Đại gia đình"
			p Là chuyên gia trong lĩnh vực bất động sản Tân Thịnh hoạt động theo phương châm "Sự an cư lạc nghiệp khách hàng là mục tiêu phấn đấu của chúng tôi". Với hoài bão đem đến những vùng đất mới, đem cuộc sống an cư lạc nghiệp và phồn vinh đến cho mọi người dân. Địa ốc Tân Thịnh tự hào là nhà phát triển bất động sản chuyên nghiệp và tận tâm, gắn lợi nhuận kinh doanh với lợi ích xã hội.
		.location-silde
			.row 
				.col-12.col-md-6.col-lg-3
					.card
						.card-body
							em.material-icons airplanemode_active
						.caption 
							.text Chỉ mất 10 phút để di chuyển đến sân bây quốc tế Long Thành - một dự án lớn trọng điểm có sức ảnh hưởng đến thị trường bất động sản xung quanh
				.col-12.col-md-6.col-lg-3
					.card
						.card-body
							em.material-icons directions_bus
						.caption 
							.text Chỉ mất 10 phút để di chuyển đền Sân bay Quốc tế Long Thành - một dự án lớn trọng điểm có sức ảnh hưởng đến thị trường xung quanh
				.col-12.col-md-6.col-lg-3
					.card
						.card-body
							em.material-icons location_city
						.caption 
							.text Chỉ mất 10 phút để di chuyển đền Sân bay Quốc tế Long Thành - một dự án lớn trọng điểm có sức ảnh hưởng đến thị trường xung quanh
				.col-12.col-md-6.col-lg-3
					.card
						.card-body
							em.material-icons store_mall_directory
						.caption 
							.text Chỉ mất 10 phút để di chuyển đền Sân bay Quốc tế Long Thành - một dự án lớn trọng điểm có sức ảnh hưởng đến thị trường xung quanh

section.project-suncity 
	.container
		.row 
			.col-lg-5
				.content 
					p Là chuyên gia trong lĩnh vực bất động sản Tân Thịnh hoạt động theo phương châm "Sự an cư lạc nghiệp khách hàng là mục tiêu phấn đấu của chúng tôi". Với hoài bão đem đến những vùng đất mới, đem cuộc sống an cư lạc nghiệp và phồn vinh đến cho mọi người dân. Địa ốc Tân Thịnh tự hào là nhà phát triển bất động sản chuyên nghiệp và tận tâm, gắn lợi nhuận kinh doanh với lợi ích xã hội.ntchuyên gia trong lĩnh vực bất động sản Tân Thịnh hoạt động theo phương châm "Sự an cư lạc nghiệp khách hàng là mục tiêu phấn đấu của chúng tôi"ntlà chuyên gia trong lĩnh vực bất động sản Tân Thịnh hoạt động theo phương châm "Sự an cư lạc nghiệp khách hàng là mục tiêu phấn đấu của chúng tôi
			.col-12.col-md-12.col-lg-3.suncity_img
				.card_img_1
					.img
						img(src="./img/project-detail/project-news-suncity-1.png", alt="")
				.card_img_2
					.img
						img(src="./img/project-detail/project-news-suncity-3.png", alt="")
			.col-12.col-md-12.col-lg-4.suncity_img
				.card_img_3
					.img
						img(src="./img/project-detail/project-news-suncity-2.png", alt="")

section.text-utilities
	.container 
		.title 
			h3 Tiện ích
		.caption 
			.text Một trong những yếu tố quan trọng trong việc quyết định đến sự thành công của dự án đó chính là tiện ích bên trong cũng như bên ngoài và các khu vực xung quanh dự án. Bên trong của khu vực Khu đô thị The Sun city được thiết kế tích hợp nhiều tiện ích đạt chuẩn Singapora:
		.row
			.col-lg-6 
				.news-suncity
					.swiper-container
						.news-swiper-wrapper
							.nav-arrow-next
								img(src="./img/home/brand/next.png", alt="")
						.swiper-wrapper
							.swiper-slide
								.card-body
									a(href="")
										.img
											img(src="./img/project-detail/news-suncity.png", alt="")
			.col-lg-6
				.title 
					h4 Trung tâm thuong mại
				.content 
					p Là chuyên gia trong lĩnh vực bất động sản Tân Thịnh hoạt động theo phương châm "Sự an cư lạc nghiệp khách hàng là mục tiêu phấn đấu của chúng tôi". Với hoài bão đem đến những vùng đất mới, đem cuộc sống an cư lạc nghiệp và phồn vinh đến cho mọi người dân. Địa ốc Tân Thịnh tự hào là nhà phát triển bất động sản chuyên nghiệp và tận tâm, gắn lợi nhuận kinh doanh với lợi ích xã hội.ntchuyên gia trong lĩnh vực bất động sản Tân Thịnh hoạt động theo phương châm "Sự an cư lạc nghiệp khách hàng là mục tiêu phấn đấu của chúng tôi"ntlà chuyên gia trong lĩnh vực bất động sản Tân Thịnh hoạt động theo phương châm "Sự an cư lạc nghiệp khách hàng là mục tiêu phấn đấu của chúng tôi

section.form-project-detail
	.container
		.title
			h3 Đăng ký nhận thông tin 
		.content 
			p Hội tụ cả hai yếu tố sinh thái và kinh tế, dự án The Sun city của công ty Việt Hưng Phát đang trở thành tâm điểm đầu tư, thu hút sự quan tâm của khách hàng muốn tìm kiếm cho mình một nơi lâu dài, yên tĩnh hoặc một giải pháp đấu tư sinh lợi hiệu quả. Và với múc giá hợp lý cùng những ưu đãi hấp dẫn, sản phẩm The Sun city đã được các khách hàng thông minh lựa chọn.
		.row 
			.col-lg-12
				.wrap-form
					.row
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text', placeholder="Họ và tên")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Địa chỉ")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Email")
						.form-group.col-12.col-md-6.col-6
							input.form-control(type='text',placeholder="Số điện thoại")
					.frm-btnwrap
						.frm-btn
							input(type="submit" value ="ĐĂNG KÝ")

section.news-silde
	.container
		.head-title
			h2 Tin tức liên quan
		.news-swiper-wrapper
			.nav-arrow-prev
				img(src="./img/home/brand/pre.png", alt="")
			.nav-arrow-next
				img(src="./img/home/brand/next.png", alt="")
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.card-body
						a(href="")
							.img.shine 
								img(src="./img/home/news/news-1.png", alt="")
							.content
								time 04.02.2020
								p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
								a(href="") XEM THÊM
								em.mdi.mdi-arrow-right
				.swiper-slide
					.card-body
						a(href="")
							.img.shine 
								img(src="./img/home/news/news-2.png", alt="")
							.content
								time 04.02.2020
								p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
								a(href="") XEM THÊM
								em.mdi.mdi-arrow-right
				.swiper-slide
					.card-body
						a(href="")
							.img.shine 
								img(src="./img/home/news/news-3.png", alt="")
							.content
								time 04.02.2020
								p Xem Xét Đầu Tư Dự Án Sân Bay Long Thành Trong Tháng 3
								a(href="") XEM THÊM
								em.mdi.mdi-arrow-right









